h1, p{
    text-align: center;
    font-size: 12px;
}

.section-2{
    padding: 80px;
    margin: 80px;
    display: flex;
    position: relative;
    justify-items: inherit;
    justify-content: center;
}
.section-1 h1{
  font-size: 36px;
  padding-top: 40px;
}
.section-2 div{
    justify-content: center;
}


.left{
    position: relative;
    margin: 20px;
  }

  .right{
    position: relative;
    margin: 20px;
  }


.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    text-align: justify;
    transform: translate(-50%, -50%);
  }

  .before-bottom{
    background-color: rgb(8, 90, 138);
    margin: 300px;
    color: white;
    border-radius: 20px;
  }
  .before-bottom h2, p{
    color: white;
    font-size: 20px;
  }

