@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Rock+Salt&display=swap');

body{
    background-color:#DAD7FF;
    margin: 0;
    padding: 0
}

#content{
    background-color:#DAD7FF;
    max-width: 1600px;
    margin: 0 auto;
}


h1, h2, h3, h4, h5, h6{
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    line-height: 12px;
    font-family:  'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 12px;
}

nav{
    background-color: #CB578A;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: .75em;
    line-height: 1em;
    font-family:  'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 1em;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width:80px;
    height:auto;
    position: relative;
} 

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #CB578A;
}

img {
    max-width: 100%;
}

main section img {
    box-sizing: border-box;
}

main, section {
    text-align:  center;
}

.home-title {
    font-size: 2.25em; color: #E8F1F2;
}


#hero-img {
    width: 100%;
}
    
#hero-msg {
    text-align: center;
}

.join, .book{
    color:#3A5A65;
    text-decoration: none;
    padding: 15px;
}


.card-img{
    width: 40%;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
}
    .icon{
        width: 80px;
     }
     .rivers-card, .camping-card, .rapids-card{
        margin: 200px 0;
    }

     #background{
        height: 750px;
        background-color: white;
     }
     .mountains{
        width:100%;
     }
     .msg{
        background-color: white;
        padding: 55px;
     }

     #info{
        font-size .75em;
        color:white;
}

main section img {
    box-sizing: border-box;
} 

.book, .join{
    background-color:hsl(0, 0%, 100%);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color:#825455;
}

#background{
    background-color:#3A5A65;
    
}

.msg{
    background-color:#3A5A65;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color:#CB578A;
}


.home-title{
    color: rgb(0, 0, 0);
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}



.msg p{
    color: hsl(0, 0%, 100%);
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}


footer { 
    background-color: #825455;
    padding: 25px 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: #825455;
}


.icon {
    width: 80px;
    padding-top: 10px;
}


footer p {
    font-size: 1.2em;
}   
footer{
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img{
    padding-top: 15px;
}   

footer p a:hover {
    text-decoration: underline;
}